.perfil_conteudo {
    margin: 35px 0;
    text-align: center;
    color: var(--cor-terciaria);
}
.perfil_imagem {
    display: block;
    margin: auto;
    width: 96px;
    height: 96px;
    background-image: url('../../assets/WhatsApp\ Image\ 2026-03-14\ at\ 01.24.27.jpeg');
    background-size: cover;
    border-radius: 50%;
}